.entry {
    padding: .5em;
    background: var(--color-close-bg);
    box-shadow: var(--shadow-small);
}

.entry__title {
    font-size: 1.3em;
    font-weight: bold;
}

.entry__details {
    font-size: .9em;
    margin-top: .4em;
    color: var(--color-soft);
}

.entry__content {
    margin-top: 1em;
    white-space: pre-wrap;
}

.entry__bottom {
    margin-top: 2em;
    color: var(--color-soft);
}

* >>> .entry__action {
    display: inline-block;
    margin-right: .8em;

    cursor: pointer;
}