.entry {
    border: 1px solid red;
    padding: .5em;
}

.entry__title {
    font-size: 1.3em;
    font-weight: bold;

    margin-bottom: 1em;
}

.entry__content {
    white-space: pre;
}

.entry__bottom {
    margin-top: 2em;
    color: #666;
}

* >>> .entry__action {
    display: inline-block;
    margin-right: .8em;

    cursor: pointer;
}