.post {
    border: 1px solid green;
}

.post__title {
    color: blue;
}

.post__title--preview {
    color: red;
    cursor: pointer;
}

.post__readmore {
    display: inline-block;
    cursor: pointer;
}