* {
    --color-soft: #ddd;
    --color-soft-bg: #333;
    --color-close-bg: #444;
    --color-link: #ccee00;
    --shadow-small: 0 0 3px #000;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    color: #ff9000;
    background: #222;
}

a,
a:visited {
    color: yellow;
    text-decoration: none;
}