.banner {
    position: relative;
    padding: 2em 0;
}

.banner__text {
    font-size: 35pt;
    text-align: center;

    cursor: pointer;
}

.banner__year {
    position: absolute;
    bottom: .3em;
    right: .5em;
}